# Build Files
app/**/*.js
app/**/*.js.map

# IDE Files
.idea/
*.iml

# Logs
logs/
*.log
npm-debug.log*

# NPM Files
node_modules/
.npm

# OS Files
.DS_Store

# Platforms
platforms/
hooks/

# Temporary files
lib/
tmp/

# Typings
typings/
