<div [id]="elementID" class="side-nav">
  <div class="tags-container">
    <p>SideNav Works! </p>
  </div>
  <div class="row keyword-container">
    <div class="input-field">
      <input id="input-keyword"
             class="validate"
             type="text"
             [(ngModel)]="keyword"
             (ngModelChange)="onKeywordChange($event)"
             required>
      <label for="input-keyword">Search by Keyword</label>
    </div>

  </div>
</div>

<a materialize="sideNav"
   href="#"
   [materializeParams]="[{edge: 'left'}]"
   [attr.data-activates]="elementID"><i class="material-icons">view_list</i>
</a>
